.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #697488;
}

.pagination li:first-child{
  margin-right: 20px;
}

.pagination li:last-child{
  margin-left: 20px;
}
.pagination-buttons-icon{
  color: #697488;
}

.pagination-buttons-icon:hover{
  color: #1EA4CE;
}
.pagination-buttons-icon:first-child{
  margin-right: 8px
}

.pagination-buttons-icon:last-child{
  margin-left: 8px
}

.pagination-content{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #697488;
}

.pagination li {
  width: 32px;
  height: 40px;
  color: #697488;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination li a{
  outline: none;
  cursor: pointer;
}

.pagination .active {
    color: #fff;
    background: #1EA4CE;
  border-radius: 2px;
}
.disabled  a {
  opacity: 0.7 !important;
  cursor: auto !important;

}